
/** GETTIN OR TRYING TO GET THE FORM OVER THE VIDEO**/
.sig { position:relative; }

.sig video {

    position:relative;

    z-index:0;

} 
.overlay {

    position:absolute;

    top:0;
   
    left:28%;

    z-index:1;
    

}
html body div.w3-row-padding.sig div.overlay.container form.form-wrapper fieldset.section.is-active label.move h5.move{
    margin-left:242px;
}
html body div.w3-row-padding.sig div.overlay.container{
    position:absolute;
    

}
/*Here to work with queries*/
.steps{
    width:600px;
}

html body div.w3-row-padding.sig div.overlay.container form.form-wrapper fieldset.section.is-active{
    width:600px;
   
  
}
/*COMMENTED OUT 
html body div.w3-row-padding.sig div.overlay.container div.wrapper form.form-wrapper fieldset.section.is-active{
    margin-left:-285px;
    width:600px;
    height:650px;
    margin-top:-15px;
}
/*The above ↑ is useless as long as the below ↓ works*/
/* EXTRA LARGE */
@media (min-width: 1200px){
    html body div.w3-row-padding.sig div.overlay.container div.wrapper form.form-wrapper fieldset.section.is-active{
        width:420px;
        height:520px;
        margin-left:-330px;
        margin-top:-15px;
    }
}
/* 
@media (max-width: 767.3px){
    html body div.w3-row-padding.sig div.overlay.container div.wrapper form.form-wrapper fieldset.section.is-active{
        width:600px;
        height:525px;
    }
}
*/

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    html body div.w3-row-padding.sig div.overlay.container form.form-wrapper fieldset.section.is-active{
        width:420px;
        height:520px;
        margin-left:-235px;
        margin-top:-15px;
    }
   
    .steps{
        width:550px;
    }
    .overlay{
        left:25%;
    }
     
 }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px){
    html body div.w3-row-padding.sig div.overlay.container form.form-wrapper fieldset.section.is-active{
        width:400px;
        height:520px;
        margin-left:-125px;
        margin-top:-15px;
    }
    .steps{
        width:500px;
    }
    .overlay{
        left:20%;
    }
   
     
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    html body div.w3-row-padding.sig div.overlay.container form.form-wrapper fieldset.section.is-active{
        width:380px;
      
    }
    html body div.w3-row-padding.sig div.overlay.container div.wrapper form.form-wrapper fieldset.section.is-active{
        width:380px;
        height:590px;
    }
    .steps{
        width:380px;
    }
    .overlay{
        left:20%;
    }
    html body div.w3-row-padding.sig div.overlay.container div.wrapper form.form-wrapper fieldset.section.is-active div#buttonC.button{
       
    }
    html body div.w3-row-padding.sig div.overlay.container div.wrapper form.form-wrapper fieldset.section.is-active div.row{
        padding:10px;
    }
     
 }
 @media (max-width: 575.98px) { 
    html body div.w3-row-padding.sig div.overlay.container form.form-wrapper fieldset.section.is-active{
        width:340px;
      
    }
    html body div.w3-row-padding.sig div.overlay.container div.wrapper form.form-wrapper fieldset.section.is-active{
        width:340px;
        height:590px;
    }
    .steps{
        width:340px;
    }
    .overlay{
        left:8%;
    }
    html body div.w3-row-padding.sig div.overlay.container div.wrapper form.form-wrapper fieldset.section.is-active div#buttonC.button{
        
    }
    html body div.w3-row-padding.sig div.overlay.container div.wrapper form.form-wrapper fieldset.section.is-active div.row{
        padding:10px;
    }
     
     
}
@media (max-width: 400.98px) { 
    html body div.w3-row-padding.sig div.overlay.container form.form-wrapper fieldset.section.is-active{
        width:320px;
      
    }
    html body div.w3-row-padding.sig div.overlay.container div.wrapper form.form-wrapper fieldset.section.is-active{
        width:320px;
        height:590px;
    }
    .steps{
        width:320px;
    }
    .overlay{
        left:0%;
    }
    html body div.w3-row-padding.sig div.overlay.container div.wrapper form.form-wrapper fieldset.section.is-active div#buttonC.button{
      
    }
    html body div.w3-row-padding.sig div.overlay.container div.wrapper form.form-wrapper fieldset.section.is-active div.row{
        padding:10px;
    }
     
}

